/* Typography */
$font-stack: 'Roboto', helvetica, sans-serif;
$font-size-l: 30px;
$font-size: 15.5px;
$font-size-s: 13px;
$font-size-xs: 12px;
$line-height: 1.3em;

$light: 300;
$regular: 400;
$bold: 700;

/* Color */
$black: #000;
$white: #fff;
$theme-g: #b9afaf;
$theme-r: #c3d6c3;
$theme-b: #c3c5d5;

/* Space */
$spacing: 18px;
$parameter-size: 57px;

/* Breakpoints */
$breakpoints: (
        'small': (max-width: 800px),
        'medium': (max-width: 1280px),
        'large': (max-width: 1600px),
        'short': (max-height: 700px),
        'tall': (min-height: 800px)
);