/* Typography */
$font-stack-sans: 'Roboto', helvetica, sans-serif;
$font-stack-serif: 'Georgia', serif;
$font-size-l: 36px;
$font-size: 15.5px;
$font-size-s: 13px;
$font-size-xs: 12px;
$line-height: 1.3em;

$light: 300;
$regular: 400;
$bold: 700;

/* Color */
$black: #000;
$white: #fff;
$red: rgba(255, 87, 67, 1);
$charcoal: rgba(49, 49, 49, 1);

/* Space */
$spacing: 18px;
$parameter-size: 117px;

/* Breakpoints */
$breakpoints: (
        'small': (max-width: 800px),
        'medium': (max-width: 1280px),
        'large': (max-width: 1600px),
        'short': (max-height: 700px),
        'tall': (min-height: 800px)
);