/* Typography */
$font-stack: 'Lato', sans-serif;

$line-height: 34px;
$font-size: 28px;
$line-height-s: 30px;
$font-size-s: 24px;
$line-height-xs: 22px;
$font-size-xs: 16px;

$light: 100;
$regular: 300;
$bold: 500;

$border: 3px solid #fff;

/* Color */
$black: #000;
$white: #fff;
$theme-g: #b9afaf;
$theme-r: #c3d6c3;
$theme-b: #c3c5d5;

/* Space */
$margin-sides: 40px;
$margin-top: 20px;
$parameter-show: 95px;
$parameter-hide: 5px;

/* Breakpoints */
$breakpoints: (
        'small': (max-width: 800px),
        'medium': (max-width: 1280px),
        'large': (max-width: 1600px),
        'short': (max-height: 700px),
        'tall': (min-height: 800px)
);